* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
header{
    display: flex;
    flex-direction:row;
    background-color:black;
}
#image{
    transform: rotateY(180deg);
}

p{
    color: azure;
}
#title1{
    padding-top: 1vh;
    margin-left: 75vh;
    margin-right: 25vh;
    color: azure;
}
#nav-bar{
    padding-top: 6vh;
}
.navlink{
    text-decoration: none;
    color:azure;
    border-style:solid;
    border-width: 0.3vh;
    border-radius: 10%;
    background-color:black;
    font-size:3vh;
}
h3{
    color: azure;
}
main{
    display: flex;
    flex-direction:row;  
}
#content{
    margin-top: 200px;
    margin-left: 490px;
    margin-right: 480px;
    margin-bottom: 300px;;
    text-align: center;
    border-style: solid;
    border-color: azure;
    border: 10%;
    padding-left:10px;
    padding-right:10px;
}
#copyright{
    color: azure;
    text-align: center;
}
#emailDisplay{
    color: azure;
}
#timeDisplay{
    color: azure;
}
h2{
    color: azure;
}
#EmailDisplayContent{
    color: azure;
}
#timeRemaingingDisplay{
    color: azure;
}
#expirationDateDisplay{
    color: azure;
}